:root {
  --color-primary-x-light: #8ed2ff;
  --color-primary-light: #1fa5ff;
  --color-primary: #0087e0;
  --color-primary-dark: #1a4c89;

  --color-success-light: #05d62838;
  --color-success: #28a745;

  --color-danger-light: #ffd5d6;
  --color-danger: #ff8286;

  --color-gray-x-light: #f2f2f2;
  --color-gray-light: #d8d8d8;
  --color-gray: #7d7a7a;

  --color-yellow: #edbb41;

  --color-white: #fff;

  --color-success-btn: #06d6a0;
}
