.AppLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffffd1;

  .spinner-border {
    width: 4rem;
    height: 4rem;
  }
}
